@tailwind base;
@tailwind components;
@tailwind utilities;
.image {
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
}
.navbar {
  backdrop-filter: blur(5px);
}
body {
  padding: 0;
  margin: 0%;
  box-sizing: border-box;
  background: rgba(128, 128, 128, 0);
}
.responsivenav {
  backdrop-filter: blur(5px);
  background: linear-gradient(rgba(0, 0, 0, 0.19), rgba(0, 0, 0, 0.228));
  transition: 0.5s all;
}
.contact {
  background: linear-gradient(rgba(0, 0, 0, 0.19), rgba(0, 0, 0, 0.228));
  backdrop-filter: blur(5px);
}

.linear_gradiant:hover {
  background: linear-gradient(
    rgb(6, 6, 39),
    rgba(18, 18, 171, 0.39),
    rgb(10, 10, 117)
  );
}
